.userPhoto {
    width: 100px;
   height: 100px;
}

.selectedPage {
   font-weight: bold;
}

.page span{
   font-size: 45px;
   margin-right: 5px;
   border: 1px solid white;
   padding: 2px;

}
.page {
   margin-top: 10px;
   margin-left: 380px;
}
.mainPage{

width: 600px;
}
